<div class="header clearfix">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
    <li class="active"><a ng-href="#/cohortbuilder">Cohort Builder</a></li>
  </ul>
  <a class='navbar-brand'>
    <img class='pull-left header-image' src="images/logo.png" />
    <h3 class="text-muted pull-left">NCSO Pilot</h3>
  </a>
</div>


<div class="content" ng-app='ncsoDemo' ng-controller='CohortQueryBuilder' class="">
  
  <h3>SOME really cool acronym</h3>
  
  
  <tabset>
    <tab heading="Explore NCS">
      <div class="explore-ncs"> 
        <h4>Explore NCS</h4>
        
        <div class="currentCount">Current Cases: {{exploratoryCaseCount}}</div>        
        {{exploreDescriptionText}}        
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div ng-repeat="param in exploratoryCohortParams.list" class="col-sm-offset-1 col-sm-10">         
              <div class="checkbox" ng-class="{greyed: param.isTODO}">
                <label>
                  <input ng-model="param.isChecked" type="checkbox">{{param.fullname}}
                </label>                                                                             
              </div>           
            </div>
            
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </div>
          </div>      
        </form>      
      </div>    
    </tab>
    <tab heading="Identify Cohorts">              
      <div class="identify-cohort">
        <h4>Identify Cohort</h4>          
        <div class="currentCount">Current Cohort Size: {{currentCohortCount}}</div> 
        {{cohortDescriptionText}}         
        <form class="form-horizontal" role="form">
          <div class="form-group">              
            <accordion>
              <div  ng-repeat="(categoryGroup, categoryData) in cohortParams">
                <accordion-group is-open="isopen">
                  <accordion-heading>
                    <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i> {{categoryData.title}}
                  </accordion-heading>
                  
                  <div ng-repeat="param in categoryData.params" class="col-sm-offset-2 col-sm-10">
                    <!-- Below is the boolean div-->
                    <div ng-if="!param.comparisonOperator" ng-class="{greyed: param.isTODO}" >
                      <label>
                        {{param.fullname}}
                        <input type="radio" ng-value="true" ng-model="param.value"> Yes
                        <input type="radio" ng-value="false" ng-model="param.value"> No
                        <input type="radio" ng-value="" ng-model="param.value"> Do Not Include
                      </label>
                    </div>
                    
                    <!-- Below is the comparison div -->
                    <div ng-if="param.comparisonOperator"  ng-class="{greyed: param.isTODO}">
                      <label>
                        <input type="checkbox" ng-model="param.isChecked"> {{param.fullname}}
                        <select  ng-model="param.comparisonOperator">
                          <option>&lt;</option>
                          <option>=</option>
                          <option>&gt;</option>            
                        </select>
                        <input type="text" ng-model="param.value">
                      </label>
                    </div>                               
                  </div>
                </accordion-group>
              </div>
            </accordion>
          </div>
          <div>
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </form>
      </div>     
    </tab>   
  </tabset>
  
  <tabset class="sparql-tabs">
    <tab heading="SPARQL Query">  
      <div class="sparql-query">
        <h4>SPARQL Query</h4>
      </div>
    </tab>
    <tab heading="SPARQL Results">
      <div class="sparql-results">
        <h4>SPARQL Results</h4>
        <table class="table well">
          <tbody>
            <tr>
              <th ng-repeat="header in colSparqlResults">{{header}}</th>
            </tr>
            <tr ng-repeat="item in sparqlResults">
              <td ng-repeat="col in colSparqlResults">{{item[col]}}</td>
            </tr>
          </tbody>
        </table>    
      </div>  
    </tab>
</div>

<div class="footer">
  <p class='pull-left'>UAMS DBMI 2014</p>  
  <p class='pull-right'>All data on this website is computer generated. There is absolutely no real data here.</p>
</div>
