<div class="header clearfix">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
    <li class="active"><a ng-href="#/cohortbuilder">Cohort Builder</a></li>
  </ul>
  <a class='navbar-brand'>
    <img class='pull-left header-image' src="images/logo.png" />
    <h3 class="text-muted pull-left">NCSO Pilot</h3>
  </a>
</div>


<div class="content" ng-app='ncsoDemo' ng-controller='CohortQueryBuilder' class="">
  
  <h3>SOME really cool acronym</h3>

  <tabset>
    <tab heading="Explore NCS">
      <div class="explore-ncs"> 
        <h4>Explore NCS</h4>
        <p>{{exploreDescriptionText}}</p>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div ng-repeat="param in exploratoryCohortParams.list" class="col-sm-offset-1 col-sm-10">         
              <div class="checkbox" ng-class="{greyed: param.isTODO}">
                <label>
                  <input ng-model="param.isChecked" type="checkbox">{{param.fullname}}
                </label>                                                                             
              </div>           
            </div>
            
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="submitExplore()">Submit</button>
              </div>
            </div>
          </div>      
        </form>      
      </div>
      <tabset class="sparql-tabs" ng-show="exploreResults">
        <tab heading="SPARQL Results">
          <div class="sparql-results">
            <h4>SPARQL Results</h4>
            <table class="table well">
              <tbody>
                <tr>
                  <th ng-repeat="header in exploreResultKeys">{{header}}</th>
                </tr>
                <tr ng-repeat="item in exploreResults">
                  <td ng-repeat="col in exploreResultKeys">{{item[col]}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </tab>
        <tab heading="SPARQL Query">
          <div class="sparql-query">
            <h4>SPARQL Query</h4>
              <div class="query">
                <pre class="prettyprint">{{exploreQuery}}</pre>
              </div>
            </div>
        </tab>
      </tabset>
    </tab>
    <tab heading="Identify Cohorts">              
      <div class="identify-cohort">
        <h4>Identify Cohort</h4>          
        <p>{{cohortDescriptionText}}</p>
        <form class="form-horizontal" role="form">
          <accordion close-others="false">
            <div  ng-repeat="(categoryGroup, categoryData) in cohortParams">
              <accordion-group is-open="isopen">
                <accordion-heading>
                  <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i> {{categoryData.title}}
                </accordion-heading>
                  <div class="form-group">
                    <div ng-repeat="param in categoryData.params" class="col-sm-offset-2 col-sm-10">

                    <!-- Below is the boolean div-->
                    <div ng-if="!param.comparisonOperator && param.isChecked === undefined" ng-class="{greyed: param.isTODO}" >
                      <h5>{{param.fullname}}</h5>
                      <label class="radio-inline">
                        <input type="radio" ng-value="true" ng-model="param.value"> Smoking
                      </label>
                      <label class="radio-inline">
                        <input type="radio" ng-value="false" ng-model="param.value"> Non-smoking
                      </label>
                      <label class="radio-inline">
                        <input type="radio" ng-value="" ng-model="param.value"> Either
                      </label>
                    </div>
                    
                    <!-- Below is the comparison div -->
                    <div ng-if="param.comparisonOperator"  ng-class="{greyed: param.isTODO}">
                      <label class="form-inline">
                        <input type="checkbox" ng-model="param.isChecked"> {{param.fullname}}
                        <select  ng-model="param.comparisonOperator">
                          <option>&lt;</option>
                          <option>=</option>
                          <option>&gt;</option>            
                        </select>
                        <input type="text" ng-model="param.value">
                      </label>
                    </div>

                    <!-- Below is the data selection div -->
                    <div ng-if="!param.comparisonOperator && param.isChecked !== undefined" ng-class="{greyed: param.isTODO}" class="checkbox">
                      <label>
                        <input ng-model="param.isChecked" type="checkbox">{{param.fullname}}
                      </label>
                    </div>
                  </div>

                </div>
              </accordion-group>
            </div>
          </accordion>
          <div>
            <button type="submit" class="btn btn-default" ng-click="submitCohort()">Submit</button>
          </div>
        </form>
      </div>
        <tabset class="sparql-tabs" ng-show="cohortResults">
            <tab heading="SPARQL Results">
                <div class="sparql-results">
                    <h4>SPARQL Results</h4>
                    <table class="table well">
                        <tbody>
                        <tr>
                            <th ng-repeat="header in cohortResultKeys">{{header}}</th>
                        </tr>
                        <tr ng-repeat="item in cohortResults">
                            <td ng-repeat="col in cohortResultKeys">{{item[col]}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </tab>
            <tab heading="SPARQL Query">
                <div class="sparql-query">
                    <h4>SPARQL Query</h4>
                    <div class="query">
                        <pre class="prettyprint">{{cohortQuery}}</pre>
                    </div>
                </div>
            </tab>
        </tabset>
    </tab>   
  </tabset>
  
  
</div>

<div class="footer">
  <p class='pull-left'>UAMS DBMI 2014</p>  
  <p class='pull-right'>All data on this website is computer generated. There is absolutely no real data here.</p>
</div>
