<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
    </ul>
    <h3 class="text-muted">NCSO Demo</h3>
</div>



<div class="content" ng-app='ncsoDemo' ng-controller='APIDetailView' class="">

    <h3>Detail View of {{apiName}}</h3>

    <div class="sparql-div">
        <h4>SPARQL</h4>
        <div class="query">
            <pre class="prettyprint">
                {{sparqlQuery}}
            </pre>
        </div>

        <div class="explanation">
            <h5>Explanation:</h5>
            <p>{{explanationText}}</p>
        </div>
    </div>

    <div class="sql-div">
        <h4>SQL</h4>

        <div class="query">
             <pre class="prettyprint">
                {{sqlQuery}}
             </pre>
        </div>

        <div class="explanation">
        </div>

    </div>


    <div class="results">
       <h4>Results</h4>
        <table class="table">
            <tbody>
            <tr>
                <th ng-repeat="header in colSparqlResults">{{header}}</th>
            </tr>
                <tr ng-repeat="item in sparqlResults">
                    <td>{{item.count}}</td>
                    <td>{{item.p}}</td>
                </tr>
            </tbody>
        </table>


    </div>



</div>

<div class="footer">
    <p>UAMS DBMI 2014</p>
</div>
