<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
    <li><a ng-href="#/cohortbuilder">Cohort Builder</a></li>
  </ul>
  <h3 class="text-muted">NCSO Demo</h3>
</div>

<div class="content" ng-app='ncsoDemo' ng-controller='LandingPage' class="">
    <div class="description">
        <p>This demo shows how the National Children Study Ontology (NCSO) is used to query data that is structured using the MDES.</p>
        <p>It uses a synthetic data set because we didn't have enough data about the phenomena we looked at in the existing data. However, the whole structure of the demo is such that the methodology can be used on real MDES structured data without major adjustments.</p>
        <p>It also stresses how the ontology can help to integrate data about phenomena of the same kind captured by different instruments and shows how maintaining and querying the data can be kept flexible across version changes. In addition, we demonstrate how the use of data items in a larger context (for example general health surrogate data) is supported. This will enable studies on the utility of the data collected by the NCS.</p>
    </div>

    <h3>Example Queries</h3>

    <div class="apilist">
        <div class="api" ng-repeat="map in apiList">
	  <div ng-repeat="(key, value) in map">
	    <a href="{{ncsodemoURL}}apidetail/?route={{value}}&prettyName={{key}}">{{key}}</a>
	  </div>
        </div>
    </div>
</div>

<div class="footer">
  <p class='pull-left'>UAMS DBMI 2014</p>
  <p class='pull-right'>All data on this website is computer generated.  There is absolutely no real data here.</p>
</div>
